<h1>Titulo do Home</h1>

<p>O nome do usuario é {{user.name}} {{ user.surname }}, eu tenho {{user.age}} anos </p>

<p>{{{teste}}} </p>


{{#if autorizacao}} 
  <p>Voce está logado,  <a href="/dashboard">clique aqui</a></p>
{{/if}}