
<div class="container">
    <form action="/tasks/add" method="post" class="form">

        <h2>Criar Tarefa</h2>

        <div class="form-item">
            <label for="title">Título</label> <br>
            <input type="text" name="title" placeholder="O que você vai fazer?">
        </div>
            <div class="form-item">
            <label for="description">Descrição:</label> <br>
            <textarea name="description" placeholder="Escreva sobre a Tarefa..."></textarea>
        </div>
        <input class="button" type="submit" value="Criar">
    </form>
</div>
