
<div class="container">
    <form action="/tasks/edit" method="post" class="form">

        <h2 class="h2-edit">Editando a tarefa: <p>{{task.title}}</p></h2>

        <input type="hidden" name="id" value="{{task.id}}">


        <div class="form-item">
            <label for="title">Título</label> <br>
            <input type="text" name="title" placeholder="O que você vai fazer?" value="{{task.title}}">
        </div>
            <div class="form-item">
            <label for="description">Descrição:</label> <br>
            <textarea name="description" placeholder="Escreva sobre a Tarefa...">{{task.description}}</textarea>
        </div>
        <input class="button" type="submit" value="Editar">
    </form>
</div>