<h1>Estudando MySQL com NodeJS</h1>



<form action="/books/insertbook" method="POST" class="form">
    <h2>Inserindo dados no Banco de Dados - INSERT</h2>

    <h3>Cadastrando um livro</h3>
    <div class="form-control">
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="Digite o Titulo">

        <label for="pages">Title</label>
        <input type="text" name="pages" placeholder="Digite quantas paginas tem?">

        
    </div>
        <input type="submit" value="Cadastrar">
</form>