/* VARIAVEIS */
:root {
    --verde0: #c5ebd6;
    --verde1: #83e1ad;
    --verde2: #3ddc84;
    --verde3: #2fa866;
    --verde4: #1a5c37;
    --verde5: #063d1e;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-android: 'Android'; }